* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    margin: 0;
}

#frontpage_wrapper {
    display: flex;
    width: 100vw;
    min-height: 100vh;

    color: white;
    background-color: rgb(24, 24, 33);
    overflow-x: hidden;
}

#center_piece {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.collection_header {
    width: 50%;
    border-radius: 20px;
    height: 100px;
    background-color: rgb(19, 8, 43);
    font-size: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
}


#sidebar {
    min-width: 100px;
    min-height: 100vh;
    background-color: rgb(34, 34, 46);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 100px;
}

#sidebar>div:hover {
    cursor: pointer;
    transition-duration: 200ms;
    transform: scale(1.2);
}


.clear_button {
    border-radius: 20px;
    margin-top: 20px;
    width: 200px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(19, 8, 43);
    font-size: 30px;
}

.collection_grid_container {
    margin-top: 40px;
    width: 70%;
    min-height: 70vh;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    gap: 20px;
}



.box {
    width: 100%;
    height: 100%;
    background-color: gray;
    border-radius: 20px;
    text-align: center;
}

#profile {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: gray;
}

#main_page {
    width: 50px;
    height: 50px;
    background-image: url("../general_media/logo.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

#friends {
    width: 50px;
    height: 50px;
    background-image: url("../general_media/friends_logo.svg");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

#logo {
    margin-bottom: 100px;
}

#chat {
    width: 50px;
    height: 50px;
    background-image: url("../general_media/chat.svg");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

#saved {
    width: 50px;
    height: 50px;
    background-image: url("../general_media/collection.svg");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

#settings {
    width: 50px;
    height: 50px;
    background-image: url("../general_media/settings.svg");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.collection_game {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}


.text_for_game_collection_box {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    max-height: 40px;
    background-color: darkblue;
    color: white;
}

.delete_button_for_game {
    width: 30px;
    height: 30px;
    background-color: gray;
    border-radius: 20px;
}

.account_management {
    color: white;
    gap: 10px;
    display: flex;
    flex-direction: column;
    background-color: rgb(73, 73, 112);
    height: 30vh;
    width: 30vw;
    border-radius: 20px;
    text-align: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.account_management div:hover {
    background-color: rgb(41, 41, 86);
    width: 80%;
}

#loading_cover {
    position: absolute;
    height: 100vh;
    width: 100vw;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(255, 255, 255, 60%);
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

#loading_icon {
    font-size: 50px;
    animation-name: loading_animation;
    animation-duration: 2s;
    animation-fill-mode: backwards;
    animation-iteration-count: infinite;
}


@keyframes loading_animation {
    from {
        color: purple;
    }

    to {
        color: red;
    }
}