* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


body {
    margin: 0;
}

#frontpage_wrapper {
    display: flex;
    width: 100vw;
    min-height: 100vh;
    color: white;
    background-color: rgb(24, 24, 33);
    overflow-x: hidden;
}

#center_piece {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    order: 4;
}

#profile {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: gray;
}

#search_function {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: gray;
}

#sidebar {
    min-width: 100px;
    min-height: 100vh;
    background-color: rgb(34, 34, 46);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 100px;
    order: 1;
}

#sidebar>div:hover {
    cursor: pointer;
    transition-duration: 200ms;
    transform: scale(1.2);
}

#send {
    width: 150px;
    height: 50px;
}

#forum_display {
    border-radius: 20px;
    margin-bottom: 40px;
    width: 600px;
    height: 500px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: black;
    overflow-y: scroll;
}

.post_dom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 4000px;
    min-height: 70px;
    margin-top: 20px;
    margin-left: 20px;
    background-color: gray;
}

#the_post_text {
    inline-size: 180px;
    overflow-wrap: break-word;
    display: flex;
    justify-content: center;
    align-items: center;
}

#the_post_text>p {
    margin: 0;
}

#the_post_text>* {
    max-width: 250px;
    height: auto;
}

#profile_picture {
    margin-right: 20px;
    margin-left: 20px;
    width: 50px;
    height: 50px;
    background-image: url("../general_media/default_profile_pic.svg");
    background-size: cover;
    background-position: center;
    border-radius: 20px;

}

#username {
    display: flex;
    justify-content: center;
    align-items: center;
}

textarea {
    border-radius: 20px;
    margin-bottom: 40px;
    min-width: 28vw;
    min-height: 200px;
    font-size: 22px;
    background-color: white;
}


#profile {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: gray;
}

#main_page {
    width: 50px;
    height: 50px;
    background-image: url("../general_media/logo.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

#friends {
    width: 50px;
    height: 50px;
    background-image: url("../general_media/friends_logo.svg");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

#logo {
    margin-bottom: 100px;
}

#chat {
    width: 50px;
    height: 50px;
    background-image: url("../general_media/chat.svg");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

#saved {
    width: 50px;
    height: 50px;
    background-image: url("../general_media/collection.svg");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

#settings {
    width: 50px;
    height: 50px;
    background-image: url("../general_media/settings.svg");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.friends_list {
    min-width: 435px;
    width: fit-content;
    max-height: 100vh;
    background-color: rgb(40, 40, 48);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 100px;
    order: 2;
    overflow-y: scroll;
}

#profile_wrapper {
    margin-top: 40px;
    min-width: 300px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightgray;
    border-radius: 20px;
    font-size: 25px;
    color: black;
    transition-property: all;
    transition-duration: 0.1s;
}

#profile_wrapper:hover {
    background-color: rgb(114, 49, 114);
    color: white;
}


.profile_picture {
    margin-right: 20px;
    width: 50px;
    height: 50px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


.selected {}

.account_management {
    color: white;
    gap: 10px;
    display: flex;
    flex-direction: column;
    background-color: rgb(73, 73, 112);
    height: 220px;
    width: 30vw;
    border-radius: 20px;
    text-align: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.account_management div:hover {
    background-color: rgb(41, 41, 86);
    width: 80%;
}

#loading_cover {
    position: absolute;
    height: 100vh;
    width: 100vw;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(255, 255, 255, 60%);
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

#loading_icon {
    font-size: 50px;
    animation-name: loading_animation;
    animation-duration: 2s;
    animation-fill-mode: backwards;
    animation-iteration-count: infinite;
}

.timer_display {
    display: flex;
    order: 3;
    width: 250px;
    min-height: 100vh;
    gap: 40px;
}

.timer_counter {
    font-size: 30px;
    margin-top: 40px;
    margin-left: 20px;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fetch_chat_now_btn {
    margin-top: 40px;
    margin-right: 40px;
    padding: 10px;
    width: 100px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    background-color: white;
    border-radius: 10px;
    color: black;
}

@keyframes loading_animation {
    from {
        color: purple;
    }

    to {
        color: red;
    }
}