body {
    margin: 0;
}

#container {
    width: 100vw;
    min-height: 100vh;
    background-image: url("../media/pxfuel.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}


#flex_container {
    display: flex;
    width: 50%;
    height: 500px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

input {
    padding-left: 15px;
    height: 60px;
    width: 40vw;
    border-radius: 10px;
    border: none;
    background-color: rgba(255, 255, 255, 0.556);
}

#input_section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

button {
    width: 20vw;
    height: 40px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border: none;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.9);
}

#too_register {
    margin-top: 20px;
    color: white;
    text-decoration: underline;
    font-size: 25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#logo {
    width: 100px;
    height: 100px;
    background-image: url("../media/Gaming-logo-template-on-transparent-background-PNG.png");
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 40px;
}